<% layout("/layouts/boilerplate") %>

<body>
  <h3>Create new listings</h3>
  <form method="POST" action="/listings">
    <input
      type="text"
      placeholder="enter title"
      name="listing[title]" /><br /><br />
    <textarea
      type="text"
      placeholder="enter description"
      name="listing[description]"></textarea
    ><br /><br />
    <input
      type="text"
      placeholder="enter image URl"
      name="listing[image]" /><br /><br />
    <input
      type="number"
      placeholder="enter price"
      name="listing[price]" /><br /><br />
    <input
      type="text"
      placeholder="enter location"
      name="listing[location]" /><br /><br />
    <input
      type="text"
      placeholder="enter country"
      name="listing[country]" /><br /><br />
    <button>Submit</button>
  </form>
</body>
